html {
  font-family: sans-serif;
}

ul.lista-sortable li i {
    margin-right: 10px;
    cursor: -webkit-grab;
;
}

ul.lista-sortable > li {
    background: #f9f9f9;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
}
ul.lista-sortable {
    border-top: 1px solid #dedede;
    list-style: none;
    padding: 0;
    font-family: sans-serif;
}

ul.sublista-sortable {
    list-style: none;
    padding: 0;
    background: #efefef;
}

ul.sublista-sortable > li {
  background: #eee;
  padding: 10px 30px;
  display: flex;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  align-items: center;
  font-size: 13px;
  transition: all .3s;
}

.dragged-item {
  opacity: 1 !important;
  list-style: none;
  background: #ebebeb;
  /* border-radius: 5px; */
  border: 1px solid #005A9C;
  font-size: 14px;
  font-family: sans-serif;
  height: 45px !important;
  overflow: hidden;
  cursor: -webkit-grab;
  width: auto;
  display: inline-block;
}

  .dragged-item i {
    color: #005A9C;
  }

.dragged-item ul {
  display: none !important;
}

.sortable-chosen {
  background: #eee !important;
}