<div (click)="expandirAll()">Expandir Tudo</div>
<div (click)="collapsarAll()">Collapsar Tudo</div>

<!-- <table class="lista-sortable" [sortablejs]="lista" [sortablejsOptions]="options" [runInsideAngular]="true">
	<tr *ngFor="let pai of lista; let i = index">
		<div style="display: flex;align-items: center; padding: 10px" (click)="expandir(i)">
			<i class="material-icons handler-pai">apps</i> <span>{{ pai.paiNome }}</span>
    </div>
    <div *ngIf="this.itensCollapsados.indexOf(i) >= 0">

        <table [smoothHeight]="this.itensCollapsados.indexOf(i) < 0" >
          <tbody class="sublista-sortable" [sortablejs]="pai.filhos" [sortablejsOptions]="options2" [runInsideAngular]="false">
            <tr *ngFor="let filho of pai.filhos; let y = index">
              <td>
                <i class="material-icons handler-fio">apps</i>
              </td>
              <td>
                {{ filho.filhoNome }}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
	</tr>
</table> -->


<ul class="lista-sortable" [sortablejs]="lista" [sortablejsOptions]="options" [runInsideAngular]="true">
	<li [class.fechado]="this.itensCollapsados.indexOf(i) < 0" *ngFor="let pai of lista; let i = index">
		<div style="display: flex;align-items: center; padding: 10px" (click)="expandir(i)">
			<i class="material-icons handler-pai">apps</i> <span>{{ pai.paiNome }}</span>
    </div>
    <div [smoothHeight]="this.itensCollapsados.indexOf(i) < 0">

    <table style="width: 100%">
      <thead *ngIf="this.itensCollapsados.indexOf(i) >= 0" >
        <tr>
          <th></th>
          <th>Item Descrição</th>
        </tr>
      </thead>
      <tbody [sortablejs]="pai.filhos" [sortablejsOptions]="options2" [runInsideAngular]="false">
        <ng-container *ngIf="this.itensCollapsados.indexOf(i) >= 0" >

      <tr *ngFor="let filho of pai.filhos; let y = index" >
              <td>
                <i class="material-icons handler-fio">apps</i>
              </td>
              <td>
                {{ filho.filhoNome }}
              </td>
      </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
	</li>
</ul>

<div>
  <button (click)="mostrar()">Ver objeto</button>
</div>